Repository iotaledger/bee, pull requests merged in 2021-01, with the labels that each got.

#167 Add ShutdownStream::split
  Cargo.lock
  bee-common/bee-common/CHANGELOG.md
  bee-common/bee-common/Cargo.toml
  bee-common/bee-common/src/packable.rs
  bee-common/bee-common/src/shutdown_stream.rs
Labels: c-feature, e-medium, p-high, s-ready-for-review, wg-common

#168 Fix ShutdownStream bound
  bee-common/bee-common/src/shutdown_stream.rs
  bee-common/bee-common/tests/shutdown_stream.rs
Labels: c-bug, e-medium, p-high, s-ready-for-review, wg-common

#143 bee-storage crate
  Cargo.lock
  Cargo.toml
  bee-storage/bee-storage/CHANGELOG.md
  bee-storage/bee-storage/Cargo.toml
  bee-storage/bee-storage/LICENSE
  bee-storage/bee-storage/README.md
  bee-storage/bee-storage/src/access/batch.rs
  bee-storage/bee-storage/src/access/delete.rs
  bee-storage/bee-storage/src/access/exist.rs
  bee-storage/bee-storage/src/access/fetch.rs
  bee-storage/bee-storage/src/access/insert.rs
  bee-storage/bee-storage/src/access/mod.rs
  bee-storage/bee-storage/src/access/stream.rs
  bee-storage/bee-storage/src/access/truncate.rs
  bee-storage/bee-storage/src/backend.rs
  bee-storage/bee-storage/src/lib.rs
Labels: c-documentation, p-low, s-needs-docs, wg-storage

#172 AsStream::Stream: Send + Sync + Unpin bounds
  bee-storage/bee-storage/CHANGELOG.md
  bee-storage/bee-storage/src/access/stream.rs
Labels: c-enhancement, e-high, p-high, s-ready-for-review, wg-storage

#175 Add `StorageBackend::size()` method
  Cargo.lock
  bee-runtime/Cargo.toml
  bee-storage/bee-storage/CHANGELOG.md
  bee-storage/bee-storage/Cargo.toml
  bee-storage/bee-storage/src/backend.rs
Labels: c-feature, e-low, p-high, s-ready-for-review, wg-storage

#178 Use tokio instead of async-std for tests
  Cargo.lock
  bee-runtime/Cargo.toml
  bee-runtime/tests/shutdown_stream.rs
Labels: c-cleanup, e-low, p-low, s-ready-for-review, wg-common

#186 Remove PrivateKey: Drop bound
  bee-crypto/src/ternary/sponge/batched_curlp/mod.rs
  bee-signing/CHANGELOG.md
  bee-signing/src/ternary/scheme.rs
Labels: c-cleanup, e-low, p-low, s-ready-for-review, wg-signing

#185 Add LoggerConfigBuilder::with_output
  bee-common/bee-common/CHANGELOG.md
  bee-common/bee-common/src/logger/config.rs
Labels: c-feature, e-low, p-high, s-ready-for-review, wg-common

#187 Only implement `Packable` for `u128`/`i128` if the platform has the types
  Cargo.lock
  bee-common/bee-common/CHANGELOG.md
  bee-common/bee-common/Cargo.toml
  bee-common/bee-common/build.rs
  bee-common/bee-common/src/packable.rs
  bee-common/bee-common/tests/packable.rs
Labels: c-feature, e-medium, p-low, s-ready-for-review, wg-common

#194 Update CODEOWNERS
  .github/CODEOWNERS
Labels: c-cleanup, e-low, p-low, s-ready-for-review, wg-infra

#190 Update tokio and other dependencies
  Cargo.lock
  bee-runtime/Cargo.toml
  bee-runtime/tests/shutdown_stream.rs
  bee-signing/Cargo.toml
  bee-test/Cargo.toml
  bee-test/src/ternary.rs
  bee-test/tests/ternary/buf.rs
  bee-test/tests/ternary/slice.rs
Labels: c-enhancement, e-low, p-high, s-ready-for-review, wg-infra

#261 Cargo test all features
  .github/workflows/test.yml
Labels: c-test, e-low, p-low, s-ready-for-review, wg-infra
