Repository iotaledger/bee, pull requests merged in 2022-03, with the labels that each got.

#1168 Stardust nits
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/address/alias.rs
  bee-message/src/address/mod.rs
  bee-message/src/address/nft.rs
  bee-message/src/input/treasury.rs
  bee-message/src/input/utxo.rs
  bee-message/src/macro.rs
  bee-message/src/message_id.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/output_id.rs
  bee-message/src/output/token_id.rs
  bee-message/src/output/token_scheme.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/payload/milestone/milestone_id.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/receipt/migrated_funds_entry.rs
  bee-message/src/payload/receipt/tail_transaction_hash.rs
  bee-message/src/payload/tagged_data/mod.rs
  bee-message/src/payload/transaction/transaction_id.rs
  bee-message/src/payload/treasury_transaction/mod.rs
  bee-message/src/signature/ed25519.rs
  bee-message/tests/address.rs
  bee-message/tests/ed25519_address.rs
  bee-message/tests/tagged_data_payload.rs
  bee-test/src/rand/output.rs
  bee-test/src/rand/output/unlock_condition.rs
  bee-test/src/rand/payload.rs
Labels: wg-message, c-enhancement, e-medium, p-medium, n-shimmer

#1187 Fix metadata update race condition
  bee-protocol/src/workers/propagator.rs
  bee-tangle/src/tangle.rs
Labels: c-bug, e-high, p-high, wg-tangle, n-all

#1193 Derive PartialEq for InfoResponse
  bee-api/bee-rest-api/src/types/responses.rs
Labels: wg-api, c-enhancement, e-low, p-medium, n-shimmer

#1190 Allow enabling autopeering service in CLI
  bee-node/src/cli.rs
  bee-node/src/config.rs
Labels: c-enhancement, e-low, p-low, wg-peering, n-all

#1199 Switch to `config.*.json` in Docker
  .github/workflows/ci.yml
  bee-node/docker/Dockerfile
  bee-node/docker/docker-compose.yml
  documentation/docs/getting_started/docker.md
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1202 Actually log snapshot parsing error
  bee-ledger/src/workers/snapshot/download.rs
Labels: wg-ledger, c-enhancement, e-low, p-high, n-all

#1195 Temporarily remove `bee-mqtt-plugin`
  .github/workflows/build_docker.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/config.chrysalis-comnet.json
  bee-node/bee-node/config.chrysalis-comnet.toml
  bee-node/bee-node/config.chrysalis-devnet.json
  bee-node/bee-node/config.chrysalis-devnet.toml
  bee-node/bee-node/config.chrysalis-mainnet.json
  bee-node/bee-node/config.chrysalis-mainnet.toml
  bee-node/bee-node/docker/Dockerfile
  bee-node/bee-node/src/config.rs
  bee-node/bee-node/src/fullnode/builder.rs
  bee-node/bee-node/src/fullnode/config.rs
  bee-node/bee-plugin/bee-plugin-mqtt/CHANGELOG.md
  bee-node/bee-plugin/bee-plugin-mqtt/Cargo.toml
  bee-node/bee-plugin/bee-plugin-mqtt/LICENSE
  bee-node/bee-plugin/bee-plugin-mqtt/README.md
  bee-node/bee-plugin/bee-plugin-mqtt/src/config.rs
  bee-node/bee-plugin/bee-plugin-mqtt/src/lib.rs
  bee-node/bee-plugin/bee-plugin-mqtt/src/manager.rs
  bee-node/bee-plugin/bee-plugin-mqtt/src/topics.rs
  documentation/docs/configuration.md
Labels: wg-node, c-cleanup, e-low, p-medium, n-all

#1204 Make `mps` module logs consistent
  bee-node/src/plugins/mps.rs
Labels: wg-node, c-cleanup, e-low, p-medium, n-all

#1205 bee-node-0.3.0-rc5
  Cargo.lock
  bee-node/Cargo.toml
Labels: c-enhancement, e-low, p-high, wg-infra, n-mainnet

#1206 Remove `.git/` from Docker build
  bee-node/docker/Dockerfile
Labels: c-bug, e-low, p-medium, wg-infra, n-mainnet

#1196 Update dependencies
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-gossip/Cargo.toml
  bee-node/Cargo.toml
  bee-protocol/Cargo.toml
  bee-runtime/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-tangle/Cargo.toml
  bee-ternary/Cargo.toml
  bee-test/Cargo.toml
Labels: c-cleanup, e-low, p-low, wg-infra, n-shimmer

#1207 Convert `None` case to `0` in API response
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_ed25519.rs
Labels: wg-api, c-bug, e-medium, p-high, n-all

#1194 More stardust nits
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/submit_message.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/examples/allocations_while_scoring.rs
  bee-message/src/message.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/output_id.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/parent.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/mod.rs
  bee-message/tests/message.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-test/src/rand/message.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#1198 Explore new CI caching solutions
  .github/workflows/ci.yml
Labels: c-investigation, e-medium, p-low, wg-infra, n-all

#1213 Use libp2p v0.41 and libp2p-core v0.30
  Cargo.lock
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/Cargo.toml
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/peer/peer_id.rs
  bee-network/bee-gossip/CHANGELOG.md
  bee-network/bee-gossip/Cargo.toml
  bee-network/bee-gossip/examples/common/keys_and_ids.rs
  bee-network/bee-gossip/src/init.rs
  bee-network/bee-gossip/src/lib.rs
  bee-network/bee-gossip/src/network/host.rs
  bee-network/bee-gossip/src/peer/list.rs
  bee-network/bee-gossip/src/service/command.rs
  bee-network/bee-gossip/src/service/event.rs
  bee-network/bee-gossip/src/swarm/behaviour.rs
  bee-network/bee-gossip/src/swarm/builder.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/id.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/protocol.rs
  bee-network/bee-gossip/src/tests/common/keys_and_ids.rs
  bee-node/Cargo.toml
  bee-node/src/local.rs
  bee-protocol/CHANGELOG.md
  bee-protocol/Cargo.toml
Labels: wg-network, c-enhancement, e-medium, p-high, n-all

#1215 Use secured base image for Docker
  bee-node/docker/Dockerfile
Labels: c-security, e-low, p-medium, wg-infra, n-all

#1214 Merge mainnet-develop
  .dockerignore
  .github/CODE_OF_CONDUCT.md
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .gitmodules
  Cargo.lock
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_ed25519.rs
  bee-ledger/src/workers/snapshot/download.rs
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/peer/peer_id.rs
  bee-network/bee-autopeering/src/task.rs
  bee-network/bee-gossip/CHANGELOG.md
  bee-network/bee-gossip/Cargo.toml
  bee-network/bee-gossip/examples/common/keys_and_ids.rs
  bee-network/bee-gossip/src/alias.rs
  bee-network/bee-gossip/src/init.rs
  bee-network/bee-gossip/src/lib.rs
  bee-network/bee-gossip/src/network/host.rs
  bee-network/bee-gossip/src/peer/list.rs
  bee-network/bee-gossip/src/service/command.rs
  bee-network/bee-gossip/src/service/event.rs
  bee-network/bee-gossip/src/service/host.rs
  bee-network/bee-gossip/src/swarm/behaviour.rs
  bee-network/bee-gossip/src/swarm/builder.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/id.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/io.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/protocol.rs
  bee-network/bee-gossip/src/tests/alias.rs
  bee-network/bee-gossip/src/tests/common/keys_and_ids.rs
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/README.md
  bee-node/bee-node/build.rs
  bee-node/bee-node/docker/Dockerfile
  bee-node/bee-node/docker/docker-compose.yml
  bee-node/bee-node/src/cli.rs
  bee-node/bee-node/src/config.rs
  bee-node/bee-node/src/local.rs
  bee-node/bee-plugin/bee-plugin-dashboard/Cargo.toml
  bee-node/bee-plugin/bee-plugin-dashboard/build.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/asset.rs
  bee-node/bee-plugin/bee-plugin-mps/src/lib.rs
  bee-protocol/CHANGELOG.md
  bee-protocol/Cargo.toml
  bee-protocol/src/workers/peer/manager.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/propagator.rs
  bee-tangle/src/tangle.rs
  documentation/docs/getting_started/docker.md
  documentation/docs/setup_a_node.mdx
Labels: c-enhancement, e-medium, p-high, wg-infra, n-mainnet

#1221 From<MilestoneId> for TransactionId
  bee-ledger/src/workers/consensus/worker.rs
  bee-message/src/macro.rs
  bee-message/src/payload/transaction/transaction_id.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1224 Move `bee` to `/app` folder
  bee-node/docker/Dockerfile
  bee-node/docker/docker-compose.yml
  documentation/docs/getting_started/docker.md
Labels: c-cleanup, e-low, p-medium, wg-infra, n-mainnet

#1225 Remove `concurrency` duplicate
  .github/workflows/ci.yml
Labels: c-bug, e-low, p-high, wg-infra, n-shimmer

#1176 Check storage deposit for `Output`s
  bee-message/CHANGELOG.md
  bee-message/src/error.rs
  bee-message/src/output/byte_cost.rs
  bee-message/src/output/mod.rs
  bee-message/tests/byte_cost.rs
  bee-protocol/src/workers/message/mod.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/mod.rs
Labels: wg-message, c-feature, e-high, p-high, n-shimmer

#1227 Fix bee-node links
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  documentation/docs/getting_started/docker.md
Labels: c-cleanup, e-low, p-medium, wg-infra, n-all

#1231 Make ByteCost pub
  bee-message/src/output/mod.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1233 Move `ByteCost` tests
  bee-message/src/output/byte_cost.rs
  bee-message/tests/byte_cost.rs
Labels: wg-message, c-cleanup, e-low, p-low, n-shimmer

#1235 Add minted and melted tokens to Foundry
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/error.rs
  bee-message/src/output/foundry.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1237 Fix indexation payload
  bee-message/src/payload/cpt2/indexation/mod.rs
  bee-message/tests/indexation_payload.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1242 `mainnet-develop`: fix clippy
  bee-protocol/src/workers/index_updater.rs
Labels: c-cleanup, e-low, p-medium, wg-protocol, n-all

#1150 Support `protocolVersion` and `networkId` changes in submit_message()
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/submit_message.rs
Labels: wg-api, c-enhancement, e-medium, p-medium, n-shimmer

#1241 Compile crates individually in CI
  .github/workflows/ci.yml
  .github/workflows/scripts/for_each_crate.sh
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/peer/lists.rs
  bee-network/bee-autopeering/src/peer/mod.rs
  bee-network/bee-autopeering/src/peer/stores/mod.rs
  bee-node/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-test/Cargo.toml
Labels: c-test, e-low, p-medium, wg-infra, n-all

#1197 Version checker plugin
  Cargo.lock
  bee-node/bee-node/src/fullnode/builder.rs
  bee-node/bee-plugin/bee-plugin-version-checker/Cargo.toml
  bee-node/bee-plugin/bee-plugin-version-checker/src/lib.rs
  bee-node/bee-plugin/bee-plugin-version-checker/src/release_info.rs
Labels: wg-node, c-feature, e-medium, p-low, n-all

#1201 Add branch section to `README.md`
  README.md
Labels: c-documentation, e-low, p-low, wg-infra, n-all

#1250 stardust-testnet-4
  bee-ledger/src/types/consumed_output.rs
  bee-ledger/src/types/snapshot/milestone_diff.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/storage.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/mod.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-node/bee-node/config.stardust-testnet.json
  bee-node/bee-node/config.stardust-testnet.toml
  bee-test/src/rand/output.rs
Labels: c-enhancement, e-medium, p-high, wg-infra, n-shimmer

#1228 Profiling with `trace_tools`
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/mod.rs
  bee-common/bee-common/Cargo.toml
  bee-common/bee-common/src/packable.rs
  bee-ledger/Cargo.toml
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/pruning/prune.rs
  bee-ledger/src/workers/snapshot/download.rs
  bee-ledger/src/workers/snapshot/import.rs
  bee-ledger/src/workers/snapshot/worker.rs
  bee-ledger/src/workers/storage.rs
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/peering/manager.rs
  bee-network/bee-autopeering/src/server.rs
  bee-network/bee-gossip/Cargo.toml
  bee-network/bee-gossip/src/network/host.rs
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/config.chrysalis-comnet.json
  bee-node/bee-node/config.chrysalis-comnet.toml
  bee-node/bee-node/config.chrysalis-devnet.json
  bee-node/bee-node/config.chrysalis-devnet.toml
  bee-node/bee-node/config.chrysalis-mainnet.json
  bee-node/bee-node/config.chrysalis-mainnet.toml
  bee-node/bee-node/src/config.rs
  bee-node/bee-node/src/entrynode/mod.rs
  bee-node/bee-node/src/fullnode/mod.rs
  bee-node/bee-node/src/lib.rs
  bee-node/bee-node/src/main.rs
  bee-node/bee-node/src/trace.rs
  bee-pow/Cargo.toml
  bee-pow/src/score.rs
  bee-protocol/Cargo.toml
  bee-protocol/src/types/metrics/node.rs
  bee-protocol/src/workers/broadcaster.rs
  bee-protocol/src/workers/heartbeater.rs
  bee-protocol/src/workers/index_updater.rs
  bee-protocol/src/workers/message/hasher.rs
  bee-protocol/src/workers/message/payload/indexation.rs
  bee-protocol/src/workers/message/payload/milestone.rs
  bee-protocol/src/workers/message/payload/mod.rs
  bee-protocol/src/workers/message/payload/transaction.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/message/submitter.rs
  bee-protocol/src/workers/message/unreferenced_inserter.rs
  bee-protocol/src/workers/metrics.rs
  bee-protocol/src/workers/mps.rs
  bee-protocol/src/workers/peer/manager.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/propagator.rs
  bee-protocol/src/workers/requester/message.rs
  bee-protocol/src/workers/requester/milestone.rs
  bee-protocol/src/workers/responder/message.rs
  bee-protocol/src/workers/solidifier.rs
  bee-protocol/src/workers/status.rs
  bee-tangle/Cargo.toml
  bee-tangle/src/tangle.rs
  bee-tangle/src/vertices.rs
Labels: wg-node, c-feature, c-performance, e-medium, p-medium, n-mainnet

#1251 Fix snapshot parsing
  bee-ledger/src/workers/snapshot/import.rs
Labels: wg-ledger, c-bug, e-medium, p-critical, n-shimmer

#1244 Add `0x` prefix to hex values in API calls
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/Cargo.toml
  bee-ledger/src/workers/consensus/merkle_hasher.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-message/Cargo.toml
  bee-message/src/address/alias.rs
  bee-message/src/address/ed25519.rs
  bee-message/src/address/nft.rs
  bee-message/src/error.rs
  bee-message/src/lib.rs
  bee-message/src/macro.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/output_id.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/util.rs
  bee-message/tests/address.rs
  bee-message/tests/ed25519_address.rs
  bee-message/tests/ed25519_signature.rs
  bee-message/tests/message_id.rs
  bee-message/tests/migrated_funds_entry.rs
  bee-message/tests/milestone.rs
  bee-message/tests/milestone_id.rs
  bee-message/tests/output_id.rs
  bee-message/tests/payload.rs
  bee-message/tests/receipt_payload.rs
  bee-message/tests/signature_locked_dust_allowance_output.rs
  bee-message/tests/signature_locked_single_output.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_id.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_input.rs
  bee-message/tests/treasury_transaction_payload.rs
  bee-message/tests/utxo_input.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1252 Add circulating_supply() to FoundryOutput
  bee-message/src/output/foundry.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1254 Use `get_pinned_cf` when possible inside `bee-storage-rocksdb`
  bee-network/bee-autopeering/src/peer/stores/rocksdb.rs
  bee-storage/bee-storage-rocksdb/src/access/exist.rs
  bee-storage/bee-storage-rocksdb/src/access/fetch.rs
  bee-storage/bee-storage-rocksdb/src/access/update.rs
Labels: wg-storage, c-enhancement, e-medium, p-high, n-all

#1212 Add json documentation
  documentation/docs/configuration.mdx
Labels: c-documentation, e-low, p-low, wg-infra, n-all

#1257 Deprecate cpt2 feature
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/lib.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/Cargo.toml
  bee-ledger/src/lib.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/storage.rs
  bee-message/Cargo.toml
  bee-message/src/error.rs
  bee-message/src/lib.rs
  bee-message/src/output/cpt2/mod.rs
  bee-message/src/output/cpt2/signature_locked_dust_allowance.rs
  bee-message/src/output/cpt2/signature_locked_single.rs
  bee-message/src/output/mod.rs
  bee-message/src/payload/cpt2/indexation/mod.rs
  bee-message/src/payload/cpt2/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/tests/indexation_payload.rs
  bee-message/tests/payload.rs
  bee-message/tests/signature_locked_dust_allowance_output.rs
  bee-message/tests/signature_locked_single_output.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1259 Fix TryFrom<&NftOutputDto> for NftOutput {
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-medium, p-high, n-shimmer

#1265 Bump dependencies for `documentation/`
  documentation/package-lock.json
  documentation/package.json
Labels: c-security, e-low, p-low, wg-infra, n-all

#1266 Run `npm audit fix`
  documentation/package-lock.json
Labels: c-security, e-low, p-medium, wg-infra, n-all

#977 Stardust ledger
  Cargo.lock
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message_metadata.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/src/types/output_diff.rs
  bee-ledger/src/types/receipt.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/error.rs
  bee-ledger/src/workers/event.rs
  bee-ledger/src/workers/storage.rs
  bee-message/src/address/ed25519.rs
  bee-message/src/address/mod.rs
  bee-message/src/lib.rs
  bee-message/src/macro.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/chain_id.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/state_transition.rs
  bee-message/src/output/token_id.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/immutable_alias_address.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/transaction_id.rs
  bee-message/src/payload/treasury_transaction/mod.rs
  bee-message/src/semantic.rs
  bee-message/src/signature/ed25519.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/tests/milestone_payload_essence.rs
  bee-message/tests/payload.rs
  bee-message/tests/receipt_payload.rs
  bee-message/tests/treasury_transaction_payload.rs
  bee-tangle/CHANGELOG.md
  bee-tangle/benches/tangle_bench.rs
  bee-tangle/src/conflict.rs
  bee-tangle/src/lib.rs
  bee-tangle/src/metadata.rs
  bee-test/src/rand/metadata.rs
  bee-test/src/rand/payload.rs
Labels: wg-ledger, c-feature, e-high, p-high, n-shimmer

#1281 Fix no_std compilation of bee-message
  bee-message/fuzz/Cargo.lock
  bee-message/src/semantic.rs
Labels: wg-message, c-bug, e-medium, p-high, n-shimmer

#1284 Change link to Docker readme
  bee-node/docker/Dockerfile
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1274 TokenScheme TIP compliance
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/token_scheme.rs
  bee-message/src/output/token_scheme/mod.rs
  bee-message/src/output/token_scheme/simple.rs
  bee-message/tests/foundry_id.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1285 Remove comnet configuration
  bee-node/config.chrysalis-comnet.json
  bee-node/config.chrysalis-comnet.toml
  bee-node/docker/Dockerfile
  bee-node/src/config.rs
Labels: c-cleanup, e-low, p-low, wg-infra

#1288 Provide `From` and `TryFrom` for `U256Dto` using `prefix_hex`
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1283 Refactor milestone key manager applicable keys
  bee-protocol/src/types/milestone_key_manager.rs
  bee-protocol/src/workers/message/payload/milestone.rs
Labels: c-cleanup, e-medium, p-high, wg-protocol, n-all

#1292 impl IntoIterator for {UnlockBlocks, FeatureBlocks, NativeTokens}
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/native_token.rs
  bee-message/src/unlock_block/mod.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1290 Remove `STORAGE_DEPOSIT_MIN`
  bee-message/src/constant.rs
  bee-message/src/output/unlock_condition/storage_deposit_return.rs
Labels: wg-message, c-cleanup, e-low, p-low, n-shimmer

#1291 Skip values that are set to 0 in dto serialization (#1275)
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#1276 Do not panic if sending response signal fails
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/peering/manager.rs
Labels: wg-network, c-bug, e-medium, p-high, n-all

#1295 Remove `CODEOWNERS` file
  .github/CODEOWNERS
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1297 CI production/staging branches
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test-docs-build.yml
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1298 bee-node-0.3.0
  Cargo.lock
  bee-node/Cargo.toml
Labels: c-cleanup, e-low, p-high, wg-infra, n-mainnet

#1273 Move DTOs to bee-message
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/submit_message.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-message/Cargo.toml
  bee-message/src/address/alias.rs
  bee-message/src/address/ed25519.rs
  bee-message/src/address/mod.rs
  bee-message/src/address/nft.rs
  bee-message/src/dto.rs
  bee-message/src/error.rs
  bee-message/src/input/mod.rs
  bee-message/src/input/treasury.rs
  bee-message/src/input/utxo.rs
  bee-message/src/lib.rs
  bee-message/src/message.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/feature_block/issuer.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/sender.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/token_id.rs
  bee-message/src/output/token_scheme/mod.rs
  bee-message/src/output/token_scheme/simple.rs
  bee-message/src/output/treasury.rs
  bee-message/src/output/unlock_condition/address.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/governor_address.rs
  bee-message/src/output/unlock_condition/immutable_alias_address.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/state_controller_address.rs
  bee-message/src/output/unlock_condition/storage_deposit_return.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/receipt/migrated_funds_entry.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/tagged_data/mod.rs
  bee-message/src/payload/transaction/essence/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/mod.rs
  bee-message/src/payload/treasury_transaction/mod.rs
  bee-message/src/signature/ed25519.rs
  bee-message/src/signature/mod.rs
  bee-message/src/unlock_block/alias.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/src/unlock_block/nft.rs
  bee-message/src/unlock_block/reference.rs
  bee-message/src/unlock_block/signature.rs
Labels: wg-message, wg-api, c-cleanup, e-low, p-medium, n-shimmer

#1299 FoundryId::build takes a token scheme kind
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/tests/foundry_id.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1302 Add missing feature blocks condition for simple deposits
  bee-ledger/src/workers/consensus/white_flag.rs
Labels: wg-ledger, c-bug, e-high, p-high, n-shimmer

#1301 Merge production
  .github/CODEOWNERS
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test-docs-build.yml
  Cargo.lock
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/peering/manager.rs
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/config.chrysalis-comnet.json
  bee-node/bee-node/config.chrysalis-comnet.toml
  bee-node/bee-node/config.chrysalis-mainnet.json
  bee-node/bee-node/config.chrysalis-mainnet.toml
  bee-node/bee-node/docker/Dockerfile
  bee-node/bee-node/src/config.rs
  bee-protocol/src/types/milestone_key_manager.rs
  bee-protocol/src/workers/message/payload/milestone.rs
  documentation/package-lock.json
  documentation/package.json
Labels: c-feature, e-low, p-high, wg-infra, n-mainnet

#1282 Add more bee-message fuzz targets
  bee-message/fuzz/Cargo.toml
  bee-message/fuzz/fuzz_targets/fuzz_address.rs
  bee-message/fuzz/fuzz_targets/fuzz_feature_block.rs
  bee-message/fuzz/fuzz_targets/fuzz_input.rs
  bee-message/fuzz/fuzz_targets/fuzz_output.rs
  bee-message/fuzz/fuzz_targets/fuzz_payload.rs
  bee-message/fuzz/fuzz_targets/fuzz_signature.rs
  bee-message/fuzz/fuzz_targets/fuzz_unlock_block.rs
  bee-message/fuzz/fuzz_targets/fuzz_unlock_condition.rs
Labels: wg-message, c-enhancement, e-low, p-low, n-shimmer

#984 Add JWT support for API and Dashboard
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-api/bee-rest-api/src/endpoints/filters.rs
  bee-api/bee-rest-api/src/endpoints/mod.rs
  bee-api/bee-rest-api/src/endpoints/permission.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_bech32.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_ed25519.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/info.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_children.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_metadata.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_raw.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/messages_find.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone_utxo_changes.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/output.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_bech32.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_ed25519.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peers.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts_at.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/remove_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/submit_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/tips.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/transaction_included_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/treasury.rs
  bee-api/bee-rest-api/src/endpoints/routes/health.rs
  bee-api/bee-rest-api/src/endpoints/routes/mod.rs
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/config.chrysalis-devnet.json
  bee-node/bee-node/config.chrysalis-devnet.toml
  bee-node/bee-node/config.chrysalis-mainnet.json
  bee-node/bee-node/config.chrysalis-mainnet.toml
  bee-node/bee-node/src/entrynode/builder.rs
  bee-node/bee-node/src/fullnode/builder.rs
  bee-node/bee-node/src/main.rs
  bee-node/bee-node/src/tools/jwt_api.rs
  bee-node/bee-node/src/tools/mod.rs
  bee-node/bee-plugin/bee-plugin-dashboard/Cargo.toml
  bee-node/bee-plugin/bee-plugin-dashboard/src/auth.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/lib.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/rejection.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/routes.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/websocket/mod.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/workers/node_status.rs
  documentation/docs/configuration.mdx
  documentation/docs/examples.md
Labels: wg-api, c-feature, e-medium, p-medium, n-all

#1303 alphanet-1 configuration
  bee-node/bee-node/config.alphanet.json
  bee-node/bee-node/config.alphanet.toml
  bee-node/bee-node/docker/Dockerfile
  bee-node/bee-node/docker/docker-compose.yml
  bee-node/bee-node/src/config.rs
Labels: c-cleanup, e-low, p-medium, wg-infra, n-shimmer

#1304 Protocol version checks
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/submit_message.rs
  bee-message/examples/allocations_while_scoring.rs
  bee-message/src/constant.rs
  bee-message/src/error.rs
  bee-message/src/message.rs
  bee-message/tests/message.rs
  bee-protocol/src/lib.rs
  bee-protocol/src/workers/message/processor.rs
  bee-test/src/rand/message.rs
Labels: wg-message, c-feature, e-low, p-high, n-shimmer

#1306 TIP 29 compliance
  bee-message/src/error.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/src/signature/ed25519.rs
  bee-message/src/signature/mod.rs
  bee-message/tests/milestone_payload.rs
  bee-message/tests/milestone_payload_essence.rs
  bee-message/tests/payload.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/handler.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1307 Do not hex prefix milestone public keys during validation
  Cargo.lock
  bee-message/Cargo.toml
  bee-message/src/payload/milestone/mod.rs
Labels: wg-message, c-bug, e-medium, p-critical, n-shimmer

#1308 Use add instead of sub to check overflows
  bee-ledger/src/workers/consensus/white_flag.rs
Labels: wg-ledger, c-bug, e-low, p-critical, n-shimmer

#1312 bee-node-1.0.0-alpha1
  Cargo.lock
  bee-node/bee-node/Cargo.toml
Labels: c-feature, e-low, p-high, wg-infra, n-shimmer

#1313 Add ReceiptCreated event
  bee-ledger/src/types/migration.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/event.rs
Labels: wg-ledger, c-feature, e-low, p-medium, n-shimmer

#1315 Add LedgerUpdated event
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/event.rs
Labels: wg-ledger, c-feature, e-low, p-high, n-shimmer
