Repository iotaledger/bee, pull requests merged in 2022-01, with the labels that each got.

#901 Don't discard source on unavailable delta snapshot
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/CHANGELOG.md
  bee-ledger/Cargo.toml
  bee-ledger/src/workers/snapshot/download.rs
  bee-storage/bee-storage-memory/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-test/Cargo.toml
Labels: n-mainnet

#930 Per logger output color config
  bee-common/bee-common/src/logger/config.rs
  bee-common/bee-common/src/logger/mod.rs
Labels: c-enhancement, e-low, p-low, wg-common, n-all

#928 Revert "Try labeling PRs using GitHub Actions (#911)"
  .github/pr-branch-labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: c-security, e-low, p-high, wg-infra, n-all

#931 Bump bee-common to 0.6.0
  Cargo.lock
  bee-common/bee-common/CHANGELOG.md
  bee-common/bee-common/Cargo.toml
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-storage/bee-storage-memory/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-tangle/Cargo.toml
Labels: c-cleanup, e-low, p-high, wg-common, n-mainnet

#934 Update logger docs and set set color_enabled default to false
  bee-common/bee-common/src/logger/config.rs
  documentation/docs/configuration.md
Labels: c-cleanup, e-low, p-low, wg-common, n-all

#935 Change configs to work with new color_enable settings
  Cargo.lock
  bee-node/config.chrysalis-comnet.toml
  bee-node/config.chrysalis-devnet.toml
  bee-node/config.chrysalis-mainnet.toml
Labels: c-cleanup, e-low, p-low, wg-common, n-all

#936 Fix typo in Open SSH link
  documentation/docs/getting_started/security_101.md
Labels: c-cleanup, e-low, p-low, wg-infra, n-all

#937 Add FeatureBlock associated ranges
  bee-message/src/output/feature_block/dust_deposit_return.rs
  bee-message/src/output/feature_block/indexation.rs
  bee-message/src/output/feature_block/metadata.rs
Labels: wg-message, c-enhancement, e-low, p-high, n-shimmer

#938 Fix NFT typo
  bee-message/src/address/mod.rs
  bee-message/src/address/nft.rs
  bee-message/src/output/mod.rs
  bee-message/src/unlock_block/mod.rs
Labels: wg-message, c-documentation, e-low, p-low, n-shimmer

#912 Add `verify_with` to `#[derive(Packable)]`
  Cargo.lock
  bee-common/bee-packable-derive/Cargo.toml
  bee-common/bee-packable-derive/src/enum_info.rs
  bee-common/bee-packable-derive/src/field_info.rs
  bee-common/bee-packable-derive/src/fragments.rs
  bee-common/bee-packable-derive/src/lib.rs
  bee-common/bee-packable-derive/src/parse.rs
  bee-common/bee-packable-derive/src/record_info.rs
  bee-common/bee-packable-derive/src/struct_info.rs
  bee-common/bee-packable-derive/src/tag_type_info.rs
  bee-common/bee-packable-derive/src/trait_impl.rs
  bee-common/bee-packable-derive/src/unpack_error_info.rs
  bee-common/bee-packable-derive/src/variant_info.rs
  bee-common/bee-packable-derive/tests/fail/invalid_field_type_verify_with.rs
  bee-common/bee-packable-derive/tests/fail/invalid_field_type_verify_with.stderr
  bee-common/bee-packable-derive/tests/pass/verify_with.rs
  bee-common/bee-packable/src/packable/bounded.rs
  bee-message/src/error/validation.rs
  bee-message/src/metadata.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/signature_locked_single.rs
  bee-message/src/payload/transaction/essence.rs
  bee-message/src/unlock/unlock_blocks.rs
  bee-message/tests/signature_locked_single_output.rs
Labels: c-feature, e-high, p-low, wg-common, n-all

#944 Add `[profile]` that optimizes for production
  Cargo.toml
Labels: c-performance, e-medium, p-low, wg-infra, n-all

#945 Revert labeling PRs using GitHubActions
  .github/pr-branch-labeler.yml
  .github/workflows/pr-branch-labeler.yml
Labels: c-security, e-low, p-high, wg-infra, n-all

#946 Transform error messages to lowercase w/o final dot
  bee-api/bee-rest-api/src/types/error.rs
  bee-common/bee-common/src/logger/mod.rs
  bee-ledger/src/types/error.rs
  bee-ledger/src/workers/error.rs
  bee-ledger/src/workers/snapshot/error.rs
  bee-message/src/error.rs
  bee-network/bee-autopeering/src/discovery/messages.rs
  bee-network/bee-gossip/src/config.rs
  bee-network/bee-gossip/src/error.rs
  bee-network/bee-gossip/src/network/error.rs
  bee-network/bee-gossip/src/peer/error.rs
  bee-network/bee-gossip/src/service/error.rs
  bee-network/bee-gossip/src/swarm/error.rs
  bee-pow/src/providers/miner.rs
  bee-runtime/src/worker.rs
  bee-storage/bee-storage-memory/src/storage.rs
  bee-storage/bee-storage-rocksdb/src/error.rs
  bee-storage/bee-storage-sled/src/storage.rs
  bee-storage/bee-storage/src/system/health.rs
  bee-storage/bee-storage/src/system/mod.rs
  bee-tangle/src/conflict.rs
Labels: c-cleanup, e-low, p-low, wg-common, n-shimmer

#950 Remove SimpleOutput
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/src/types/balance_diff.rs
  bee-ledger/src/types/receipt.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/storage.rs
  bee-message/CHANGELOG.md
  bee-message/src/error.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/simple.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/receipt/migrated_funds_entry.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/migrated_funds_entry.rs
  bee-message/tests/payload.rs
  bee-message/tests/receipt_payload.rs
  bee-message/tests/signature_locked_single_output.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_transaction_payload.rs
  bee-test/src/rand/output.rs
  bee-test/src/rand/receipt.rs
Labels: wg-message, c-cleanup, e-medium, p-high, n-shimmer

#943 Implement DTOs for all new output types
  Cargo.lock
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-api/bee-rest-api/src/types/error.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-message/src/output/feature_block/indexation.rs
  bee-message/src/output/feature_block/metadata.rs
Labels: wg-api, c-enhancement, e-low, p-medium, n-shimmer

#949 Properly handle responses while downloading snapshots
  bee-ledger/src/workers/snapshot/download.rs
Labels: wg-ledger, c-bug, e-low, p-medium, n-all

#953 Autopeering fixes
  Cargo.lock
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/discovery/query.rs
  bee-network/bee-autopeering/src/peer/lists.rs
  bee-network/bee-autopeering/src/peering/filter.rs
  bee-network/bee-autopeering/src/peering/manager.rs
  bee-network/bee-autopeering/src/peering/neighbor.rs
  bee-network/bee-autopeering/src/peering/update.rs
  bee-network/bee-autopeering/src/request.rs
  bee-network/bee-autopeering/src/server.rs
Labels: wg-network, c-bug, e-high, p-critical, n-all

#960 Fix clippy warnings
  bee-common/bee-common/src/logger/config.rs
  bee-ledger/src/types/balance_diff.rs
  bee-ledger/src/workers/pruning/config.rs
  bee-ledger/src/workers/snapshot/config.rs
  bee-message/src/message.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/mod.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-gossip/src/config.rs
  bee-pow/src/providers/miner.rs
  bee-pow/src/providers/u64.rs
  bee-runtime/src/node.rs
  bee-signing/src/ternary/mss.rs
  bee-signing/src/ternary/seed.rs
  bee-signing/src/ternary/wots/shake.rs
  bee-signing/src/ternary/wots/sponge.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-storage/bee-storage-sled/src/config.rs
  bee-tangle/src/config.rs
  bee-ternary/src/lib.rs
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#964 Reduce warning logs in bee-autopeering
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/discovery/query.rs
  bee-network/bee-autopeering/src/peering/manager.rs
Labels: wg-network, c-cleanup, e-low, p-critical, n-all

#966 Fix `coordicide` branch CI errors.
  bee-common/bee-logger/src/config.rs
  bee-common/bee-packable-derive/src/lib.rs
  bee-common/bee-packable-derive/tests/fail/invalid_packable_with.stderr
  bee-common/bee-packable-derive/tests/fail/packable_is_structural.stderr
  bee-message/src/builder.rs
  bee-message/src/payload/drng/beacon/collective_beacon.rs
  bee-message/src/payload/drng/beacon/regular_beacon.rs
  bee-message/src/payload/drng/dkg.rs
  bee-message/src/payload/fpc/mod.rs
  bee-message/src/payload/salt_declaration.rs
  bee-message/src/payload/transaction/essence.rs
  bee-message/src/payload/transaction/mod.rs
  bee-node/bee-node/src/config.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-storage/bee-storage-sled/src/config.rs
  bee-tangle/src/walkers/bfs.rs
  bee-tangle/src/walkers/dfs.rs
Labels: c-cleanup, e-low, p-medium, wg-infra, n-coordicide

#969 Fix CI issues
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-message/src/payload/transaction/essence/regular.rs
Labels: c-bug, e-low, p-high, wg-infra, n-shimmer

#963 Add milestone index/timestamp to CreatedOutput
  bee-ledger/CHANGELOG.md
  bee-ledger/src/types/consumed_output.rs
  bee-ledger/src/types/created_output.rs
  bee-ledger/src/types/snapshot/milestone_diff.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/snapshot/import.rs
  bee-test/src/rand/output.rs
Labels: wg-ledger, c-feature, e-low, p-medium, n-shimmer

#951 Remove Balance/BalanceDiff
  bee-ledger/CHANGELOG.md
  bee-ledger/src/types/balance.rs
  bee-ledger/src/types/balance_diff.rs
  bee-ledger/src/types/mod.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/error.rs
  bee-ledger/src/workers/snapshot/import.rs
  bee-ledger/src/workers/storage.rs
  bee-storage/bee-storage-memory/CHANGELOG.md
  bee-storage/bee-storage-memory/src/access/batch.rs
  bee-storage/bee-storage-memory/src/access/delete.rs
  bee-storage/bee-storage-memory/src/access/exist.rs
  bee-storage/bee-storage-memory/src/access/fetch.rs
  bee-storage/bee-storage-memory/src/access/insert.rs
  bee-storage/bee-storage-memory/src/access/iter.rs
  bee-storage/bee-storage-memory/src/access/multi_fetch.rs
  bee-storage/bee-storage-memory/src/access/truncate.rs
  bee-storage/bee-storage-memory/src/storage.rs
  bee-storage/bee-storage-memory/tests/address_to_balance.rs
  bee-storage/bee-storage-rocksdb/CHANGELOG.md
  bee-storage/bee-storage-rocksdb/src/access/batch.rs
  bee-storage/bee-storage-rocksdb/src/access/delete.rs
  bee-storage/bee-storage-rocksdb/src/access/exist.rs
  bee-storage/bee-storage-rocksdb/src/access/fetch.rs
  bee-storage/bee-storage-rocksdb/src/access/insert.rs
  bee-storage/bee-storage-rocksdb/src/access/iter.rs
  bee-storage/bee-storage-rocksdb/src/access/multi_fetch.rs
  bee-storage/bee-storage-rocksdb/src/access/truncate.rs
  bee-storage/bee-storage-rocksdb/src/column_families.rs
  bee-storage/bee-storage-rocksdb/src/storage.rs
  bee-storage/bee-storage-rocksdb/tests/address_to_balance.rs
  bee-storage/bee-storage-sled/CHANGELOG.md
  bee-storage/bee-storage-sled/src/access/batch.rs
  bee-storage/bee-storage-sled/src/access/delete.rs
  bee-storage/bee-storage-sled/src/access/exist.rs
  bee-storage/bee-storage-sled/src/access/fetch.rs
  bee-storage/bee-storage-sled/src/access/insert.rs
  bee-storage/bee-storage-sled/src/access/iter.rs
  bee-storage/bee-storage-sled/src/access/multi_fetch.rs
  bee-storage/bee-storage-sled/src/access/truncate.rs
  bee-storage/bee-storage-sled/src/trees.rs
  bee-storage/bee-storage-sled/tests/address_to_balance.rs
  bee-storage/bee-storage-test/CHANGELOG.md
  bee-storage/bee-storage-test/src/address_to_balance.rs
  bee-storage/bee-storage-test/src/lib.rs
  bee-test/src/rand/balance.rs
  bee-test/src/rand/mod.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#979 Remove bee-common/ord
  Cargo.lock
  bee-common/bee-common/src/lib.rs
  bee-common/bee-common/src/ord.rs
  bee-common/bee-common/tests/ord.rs
  bee-message/Cargo.toml
  bee-message/src/parents.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
Labels: c-cleanup, e-low, p-low, wg-common, n-all

#982 Merge Timelock/Expiration index and timestamp
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/feature_block/expiration.rs
  bee-message/src/output/feature_block/expiration_milestone_index.rs
  bee-message/src/output/feature_block/expiration_unix.rs
  bee-message/src/output/feature_block/indexation.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/timelock.rs
  bee-message/src/output/feature_block/timelock_milestone_index.rs
  bee-message/src/output/feature_block/timelock_unix.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-cleanup, e-medium, p-high, n-shimmer

#987 Fix newly added clippy lints
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-node/src/config.rs
  bee-node/src/fullnode/builder.rs
  bee-node/src/plugins/dashboard/websocket/responses/mod.rs
  bee-node/src/plugins/dashboard/websocket/responses/node_status.rs
  bee-protocol/src/workers/config.rs
Labels: wg-node, c-cleanup, e-low, p-low, n-all

#991 Remove some more bee-common modules
  Cargo.lock
  bee-common/bee-common/CHANGELOG.md
  bee-common/bee-common/Cargo.toml
  bee-common/bee-common/src/lib.rs
  bee-common/bee-common/src/logger/config.rs
  bee-common/bee-common/src/logger/mod.rs
  bee-common/bee-common/src/time.rs
  bee-ledger/CHANGELOG.md
  bee-ledger/Cargo.toml
  bee-ledger/src/workers/snapshot/import.rs
  bee-ledger/src/workers/snapshot/worker.rs
  bee-message/CHANGELOG.md
  bee-message/Cargo.toml
  bee-message/src/parents.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
Labels: c-cleanup, e-low, p-high, wg-common, n-all

#989 Autopeering fixes for RC3
  Cargo.lock
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/examples/node.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/discovery/query.rs
  bee-network/bee-autopeering/src/init.rs
  bee-network/bee-autopeering/src/peering/filter.rs
  bee-network/bee-autopeering/src/peering/manager.rs
  bee-network/bee-autopeering/src/peering/neighbor.rs
  bee-network/bee-autopeering/src/peering/update.rs
  bee-network/bee-gossip/CHANGELOG.md
  bee-network/bee-gossip/Cargo.toml
  bee-network/bee-gossip/src/init.rs
  bee-network/bee-gossip/src/network/host.rs
  bee-network/bee-gossip/src/peer/list.rs
  bee-network/bee-gossip/src/service/host.rs
  bee-protocol/Cargo.toml
  bee-tangle/src/vertices.rs
Labels: wg-network, c-bug, e-high, p-high, n-all

#983 Add `rocksdb` backend for `bee-autopeering` stores
  Cargo.lock
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/init.rs
  bee-network/bee-autopeering/src/peer/lists.rs
  bee-network/bee-autopeering/src/peer/mod.rs
  bee-network/bee-autopeering/src/peer/peer_id.rs
  bee-network/bee-autopeering/src/peer/stores.rs
  bee-network/bee-autopeering/src/peer/stores/in_memory.rs
  bee-network/bee-autopeering/src/peer/stores/mod.rs
  bee-network/bee-autopeering/src/peer/stores/rocksdb.rs
  bee-network/bee-autopeering/src/peer/stores/sled.rs
  bee-network/bee-autopeering/src/task.rs
Labels: wg-network, c-enhancement, e-high, p-high, n-all

#995 Remove common auth module
  Cargo.lock
  bee-common/bee-common/Cargo.toml
  bee-common/bee-common/src/auth/jwt.rs
  bee-common/bee-common/src/auth/mod.rs
  bee-common/bee-common/src/auth/password.rs
  bee-common/bee-common/src/lib.rs
  bee-common/bee-common/tests/jwt.rs
  bee-common/bee-common/tests/password.rs
Labels: c-cleanup, e-low, p-low, wg-common, n-all

#997 Fix re-export
  bee-network/bee-gossip/src/lib.rs
Labels: wg-network, c-bug, e-low, p-critical, n-all

#999 Add peer_storage_path to autopeering config
  bee-network/bee-autopeering/src/config.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-storage/bee-storage-sled/src/config.rs
Labels: wg-network, c-enhancement, e-low, p-high, n-all

#1000 Update peer storage path config
  Cargo.lock
  bee-node/config.chrysalis-comnet.toml
  bee-node/config.chrysalis-devnet.toml
  bee-node/config.chrysalis-mainnet.toml
  bee-node/src/entrynode/builder.rs
  bee-node/src/fullnode/builder.rs
  bee-node/src/lib.rs
  bee-node/src/main.rs
Labels: wg-node, c-enhancement, e-low, p-high, n-all

#986 Switch to `.key` file for identity
  .gitignore
  Cargo.lock
  bee-node/CHANGELOG.md
  bee-node/Cargo.toml
  bee-node/config.chrysalis-comnet.toml
  bee-node/config.chrysalis-devnet.toml
  bee-node/config.chrysalis-mainnet.toml
  bee-node/src/cli.rs
  bee-node/src/config.rs
  bee-node/src/entrynode/config.rs
  bee-node/src/fullnode/config.rs
  bee-node/src/identity.rs
  bee-node/src/lib.rs
  bee-node/src/local.rs
  bee-node/src/main.rs
  bee-node/src/tools/mod.rs
  bee-node/src/tools/p2p_identity.rs
Labels: wg-node, c-feature, e-high, p-medium, n-all

#1007 Simpler/cleaner logs
  bee-network/bee-autopeering/src/init.rs
  bee-network/bee-autopeering/src/task.rs
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1013 Fix `WARN` for unavailable delta snapshot
  bee-ledger/src/workers/snapshot/download.rs
Labels: wg-ledger, c-bug, e-medium, p-medium, n-all

#1006 Add unlock conditions
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/unlock_condition/address.rs
  bee-message/src/output/unlock_condition/dust_deposit_return.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/governor_address.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/state_controller_address.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_transaction_payload.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1014 Fix ExpirationUnlockCondition
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/unlock_condition/expiration.rs
Labels: wg-message, c-cleanup, e-medium, p-high, n-shimmer

#1018 Add FoundryId
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#902 Random generation of `Output`s
  Cargo.lock
  bee-message/src/macro.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-test/Cargo.toml
  bee-test/src/rand/output.rs
  bee-test/src/rand/output/feature_block.rs
Labels: wg-message, c-enhancement, e-low, p-low, n-shimmer

#1025 Impl hash() for OutputId
  bee-message/src/output/output_id.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#842 Add bee-protocol workers
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-crypto/Cargo.toml
  bee-protocol/CHANGELOG.md
  bee-protocol/Cargo.toml
  bee-protocol/src/lib.rs
  bee-protocol/src/types/metrics/mod.rs
  bee-protocol/src/types/metrics/node.rs
  bee-protocol/src/types/metrics/peer.rs
  bee-protocol/src/types/milestone_key_manager.rs
  bee-protocol/src/types/milestone_key_range.rs
  bee-protocol/src/types/mod.rs
  bee-protocol/src/types/peer.rs
  bee-protocol/src/workers/broadcaster.rs
  bee-protocol/src/workers/config.rs
  bee-protocol/src/workers/event.rs
  bee-protocol/src/workers/heartbeater.rs
  bee-protocol/src/workers/index_updater.rs
  bee-protocol/src/workers/message/hash_cache.rs
  bee-protocol/src/workers/message/hasher.rs
  bee-protocol/src/workers/message/mod.rs
  bee-protocol/src/workers/message/payload/indexation.rs
  bee-protocol/src/workers/message/payload/milestone.rs
  bee-protocol/src/workers/message/payload/mod.rs
  bee-protocol/src/workers/message/payload/transaction.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/message/submitter.rs
  bee-protocol/src/workers/message/unreferenced_inserter.rs
  bee-protocol/src/workers/metrics.rs
  bee-protocol/src/workers/mod.rs
  bee-protocol/src/workers/mps.rs
  bee-protocol/src/workers/packets/header.rs
  bee-protocol/src/workers/packets/heartbeat.rs
  bee-protocol/src/workers/packets/message.rs
  bee-protocol/src/workers/packets/message_request.rs
  bee-protocol/src/workers/packets/milestone_request.rs
  bee-protocol/src/workers/packets/mod.rs
  bee-protocol/src/workers/packets/tlv.rs
  bee-protocol/src/workers/peer/manager.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/peer/mod.rs
  bee-protocol/src/workers/peer/packet_handler.rs
  bee-protocol/src/workers/propagator.rs
  bee-protocol/src/workers/requester/message.rs
  bee-protocol/src/workers/requester/milestone.rs
  bee-protocol/src/workers/requester/mod.rs
  bee-protocol/src/workers/responder/message.rs
  bee-protocol/src/workers/responder/milestone.rs
  bee-protocol/src/workers/responder/mod.rs
  bee-protocol/src/workers/sender.rs
  bee-protocol/src/workers/solidifier.rs
  bee-protocol/src/workers/status.rs
  bee-protocol/src/workers/storage.rs
  bee-runtime/Cargo.toml
  bee-tangle/src/traversal.rs
Labels: c-feature, e-high, p-high, wg-protocol, n-all

#1026 Remove network_id from Essence
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/CHANGELOG.md
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1022 Fix "unlock_conditions -> unlockConditions" and add "type" field to U…
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-api/bee-rest-api/src/types/responses.rs
Labels: wg-api, c-bug, e-low, p-high, n-shimmer

#1019 Cleanup and fix DustDepositReturn
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/unlock_condition/dust_deposit_return.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/src/parent.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/unlock_block/mod.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#954 Make `bee-message` compatible with `no_std`
  .github/workflows/ci.yml
  Cargo.lock
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-message/fuzz/src/fuzz_sorter.rs
  bee-message/src/address/mod.rs
  bee-message/src/error.rs
  bee-message/src/lib.rs
  bee-message/src/macro.rs
  bee-message/src/message.rs
  bee-message/src/milestone/index.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/output_id.rs
  bee-message/src/parent.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/receipt/tail_transaction_hash.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/src/util.rs
  bee-message/tests/milestone.rs
  bee-message/tests/parents.rs
  bee-message/tests/payload.rs
  bee-message/tests/receipt_payload.rs
Labels: wg-message, c-enhancement, e-medium, p-low, n-shimmer

#1028 Fix de/serialization for AddressDto
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-medium, p-high, n-shimmer

#1029 Add REST API endpoints to `dev` branch
  Cargo.lock
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-api/bee-rest-api/src/endpoints/filters.rs
  bee-api/bee-rest-api/src/endpoints/mod.rs
  bee-api/bee-rest-api/src/endpoints/path_params.rs
  bee-api/bee-rest-api/src/endpoints/permission.rs
  bee-api/bee-rest-api/src/endpoints/rejection.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_bech32.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_ed25519.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/info.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_children.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_metadata.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_raw.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/messages_find.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone_utxo_changes.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/output.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_bech32.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_ed25519.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peers.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts_at.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/remove_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/submit_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/tips.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/transaction_included_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/treasury.rs
  bee-api/bee-rest-api/src/endpoints/routes/health.rs
  bee-api/bee-rest-api/src/endpoints/routes/mod.rs
  bee-api/bee-rest-api/src/endpoints/storage.rs
  bee-api/bee-rest-api/src/lib.rs
Labels: wg-api, c-feature, e-high, p-high, n-all

#1027 Some more clean and compliance
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/error.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/src/unlock_block/alias.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/src/unlock_block/nft.rs
  bee-message/src/unlock_block/reference.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#1037 Add mandatory addresses checks
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1038 Add missing UnlockConditions packing
  bee-message/src/output/alias.rs
  bee-message/src/output/foundry.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1031 Remove .gitignore storage entries
  .gitignore
Labels: c-cleanup, e-low, p-low, wg-infra, n-all

#1034 Custom de-serialize implementations for DTOs
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-medium, p-high, n-shimmer

#1036 NativeTokens count prefix as u8
  bee-message/src/output/native_token.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer
