Repository iotaledger/bee, pull requests merged in 2022-02, with the labels that each got.

#1040 Fix coverage for `dev` branch
  .github/workflows/coverage.yml
Labels: c-bug, e-low, p-high, wg-infra, n-all

#1048 Rename token_id in NativeTokenDto
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-low, p-high, n-shimmer

#1044 `dev`: Ignore serde_cbor issue in audit
  .github/workflows/.cargo/audit.toml
Labels: c-security, e-medium, p-medium, wg-infra, n-all

#1046 `shimmer-develop`: Ignore serde_cbor issue in audit
  .github/workflows/.cargo/audit.toml
Labels: c-security, e-medium, p-medium, wg-infra, n-shimmer

#1050 Fix snapshot parsing
  bee-ledger/src/types/snapshot/header.rs
  bee-ledger/src/workers/snapshot/import.rs
  bee-ledger/src/workers/storage.rs
Labels: wg-ledger, c-bug, e-medium, p-high, n-shimmer

#1051 Shimmer testnet configuration
  bee-node/config.chrysalis-devnet.toml
  bee-node/config.chrysalis-mainnet.toml
  bee-node/config.stardust-testnet.toml
Labels: c-feature, e-low, p-medium, wg-infra, n-shimmer

#1052 Fix intra doc links
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-gossip/src/error.rs
  bee-network/bee-gossip/src/peer/error.rs
  bee-network/bee-gossip/src/service/error.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/event.rs
Labels: wg-network, c-documentation, e-low, p-low, n-all

#1053 Use `path` instead of `git` for Bee crates
  Cargo.lock
  bee-node/Cargo.toml
Labels: c-cleanup, e-low, p-low, wg-infra, n-all

#1055 Install dashboard in coverage workflow
  .github/workflows/coverage.yml
Labels: c-bug, e-medium, p-high, wg-infra, n-all

#1064 Rename "blocks" > "featureBlocks"
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-cleanup, e-low, p-high, n-shimmer

#1061 Fix DustDepositReturnUnlockConditionDto
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-low, p-high, n-shimmer

#1065 Length prefixes from u32 to u16
  bee-message/src/output/alias.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-cleanup, e-low, p-high, n-shimmer

#1068 Add NativeTokens amount check
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/error.rs
  bee-message/src/output/native_token.rs
Labels: wg-message, c-enhancement, e-low, p-medium, n-shimmer

#1063 Add Output amount check
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/extended.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_transaction_payload.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1071 Add native_tokens method to Output
  bee-message/src/output/mod.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1054 Fix peer manager deadlock
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/requester/message.rs
  bee-protocol/src/workers/requester/milestone.rs
Labels: c-bug, e-high, p-critical, wg-protocol, n-all

#1080 Enable rand features 'std' and 'std_rng' in bee-autopeering
  bee-network/bee-autopeering/Cargo.toml
Labels: wg-network, c-bug, e-low, p-critical, n-shimmer

#1074 Rename ExtendedOutput to BasicOutput
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/storage.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_transaction_payload.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1081 Update doc branch to clone
  bee-node/README.md
  documentation/docs/setup_a_node.mdx
Labels: c-documentation, e-low, p-high, wg-infra, n-all

#1079 Respect conditions during random `Output` generation
  bee-test/src/rand/output.rs
  bee-test/src/rand/output/unlock_condition.rs
Labels: wg-message, c-cleanup, e-medium, p-medium, n-shimmer

#1086 Log peer_id of entrynode
  bee-network/bee-gossip/src/init.rs
  bee-node/src/entrynode/builder.rs
  bee-node/src/fullnode/builder.rs
Labels: wg-node, c-cleanup, e-low, p-high, n-all

#1083 Add `milestoneIndexSpent` and `transactionIdSpent` to `OutputResponse`
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/output.rs
  bee-api/bee-rest-api/src/types/responses.rs
Labels: c-enhancement, e-medium, p-high, n-all

#1076 Increase max input/output/block count
  bee-message/src/input/mod.rs
  bee-message/src/output/mod.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/tests/output_id.rs
  bee-message/tests/receipt_payload.rs
  bee-message/tests/reference_unlock.rs
  bee-message/tests/transaction_regular_essence.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1085 U256 DTO fix
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-message, c-bug, e-medium, p-high, n-shimmer

#1092 Update wiki-cli to use the npm package
  documentation/package.json
Labels: c-cleanup, e-low, p-medium, wg-infra, n-all

#1087 Raise autopeering discovery query log level to 'info'
  bee-network/bee-autopeering/src/discovery/query.rs
Labels: wg-network, c-enhancement, e-low, p-high, n-all

#1094 Enable doc tests in CI
  .github/workflows/ci.yml
  bee-network/bee-autopeering/src/lib.rs
Labels: wg-network, c-test, e-low, p-low, n-all

#1075 Add cpt2 feature to gate old output/payload variants
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/lib.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-ledger/Cargo.toml
  bee-ledger/src/lib.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/storage.rs
  bee-message/CHANGELOG.md
  bee-message/Cargo.toml
  bee-message/src/error.rs
  bee-message/src/lib.rs
  bee-message/src/output/cpt2/mod.rs
  bee-message/src/output/cpt2/signature_locked_dust_allowance.rs
  bee-message/src/output/cpt2/signature_locked_single.rs
  bee-message/src/output/mod.rs
  bee-message/src/payload/cpt2/indexation/mod.rs
  bee-message/src/payload/cpt2/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/tagged_data/mod.rs
  bee-message/tests/indexation_payload.rs
  bee-message/tests/payload.rs
  bee-message/tests/signature_locked_output.rs
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/src/lib.rs
  bee-network/bee-gossip/Cargo.toml
  bee-network/bee-gossip/src/lib.rs
  bee-node/Cargo.toml
  bee-node/src/lib.rs
  bee-pow/Cargo.toml
  bee-pow/src/lib.rs
  bee-protocol/Cargo.toml
  bee-protocol/src/lib.rs
  bee-runtime/Cargo.toml
  bee-runtime/src/lib.rs
  bee-storage/bee-storage-memory/Cargo.toml
  bee-storage/bee-storage-memory/src/lib.rs
  bee-storage/bee-storage-null/Cargo.toml
  bee-storage/bee-storage-null/src/lib.rs
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-rocksdb/src/lib.rs
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-sled/src/lib.rs
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage-test/src/lib.rs
  bee-storage/bee-storage/Cargo.toml
  bee-storage/bee-storage/src/lib.rs
  bee-tangle/Cargo.toml
  bee-tangle/src/lib.rs
  bee-ternary/Cargo.toml
  bee-ternary/src/lib.rs
Labels: wg-message, c-feature, e-high, p-high, n-shimmer

#1098 Merge dev branch
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.lock
  bee-network/bee-autopeering/src/discovery/query.rs
  bee-network/bee-autopeering/src/lib.rs
  bee-network/bee-gossip/src/init.rs
  bee-network/bee-gossip/src/service/error.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/event.rs
  bee-node/README.md
  bee-node/src/entrynode/builder.rs
  bee-node/src/fullnode/builder.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/requester/message.rs
  bee-protocol/src/workers/requester/milestone.rs
  documentation/docs/setup_a_node.mdx
  documentation/package.json
Labels: c-feature, e-low, p-high, wg-infra, n-shimmer

#1100 Remove data envelope
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/info.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_children.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_metadata.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone_utxo_changes.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/output.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peers.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/receipts_at.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/submit_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/tips.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/treasury.rs
  bee-api/bee-rest-api/src/types/body.rs
Labels: wg-api, c-cleanup, e-low, p-high, n-shimmer

#1103 Limit native tokens count to 64 per transaction
  bee-message/src/error.rs
  bee-message/src/output/native_token.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/transaction_regular_essence.rs
Labels: wg-message, c-enhancement, e-medium, p-high, n-shimmer

#1101 Add ImmutableAliasAddressUnlockCondition
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/unlock_condition/immutable_alias_address.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1088 Move network_id and add protocol_version
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/submit_message.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/examples/allocations_while_scoring.rs
  bee-message/src/message.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/message.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-protocol/src/lib.rs
  bee-protocol/src/workers/message/processor.rs
  bee-test/src/rand/message.rs
Labels: wg-message, c-enhancement, e-medium, p-high, n-shimmer

#1093 Simplify the ids usage
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/token_id.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1110 Check config files for conformity
  bee-node/src/config.rs
Labels: wg-node, c-test, e-low, p-low, n-mainnet

#1114 Fix nightly build
  bee-tangle/CHANGELOG.md
  bee-tangle/src/tangle.rs
Labels: c-bug, e-medium, p-critical, wg-tangle, n-all

#1057 Provide updated `Dockerfile` and `docker-compose.yml`
  .dockerignore
  .github/workflows/build_docker.yml
  .github/workflows/release.yml
  bee-node/Dockerfile
  bee-node/README.md
  bee-node/docker/Dockerfile
  bee-node/docker/README.md
  bee-node/docker/docker-compose.yml
  documentation/docs/getting_started/docker.md
  documentation/sidebars.js
Labels: c-cleanup, e-medium, p-medium, wg-infra, n-all

#1122 Merge dev branch
  .dockerignore
  .github/workflows/build_docker.yml
  .github/workflows/release.yml
  bee-api/bee-rest-api/src/endpoints/mod.rs
  bee-node/Dockerfile
  bee-node/README.md
  bee-node/docker/Dockerfile
  bee-node/docker/README.md
  bee-node/docker/docker-compose.yml
  bee-node/src/config.rs
  bee-node/src/entrynode/builder.rs
  bee-node/src/entrynode/config.rs
  bee-node/src/fullnode/builder.rs
  bee-tangle/CHANGELOG.md
  bee-tangle/src/tangle.rs
  documentation/docs/getting_started/docker.md
  documentation/sidebars.js
Labels: c-cleanup, e-low, p-critical, wg-infra, n-shimmer

#1124 Fix MessageDto
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-low, p-high, n-shimmer

#1112 JSON config support
  .gitignore
  Cargo.lock
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-ledger/src/workers/pruning/config.rs
  bee-ledger/src/workers/snapshot/config.rs
  bee-network/bee-autopeering/examples/node.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-autopeering/src/lib.rs
  bee-network/bee-gossip/src/config.rs
  bee-node/Cargo.toml
  bee-node/README.md
  bee-node/config.chrysalis-comnet.json
  bee-node/config.chrysalis-devnet.json
  bee-node/config.chrysalis-mainnet.json
  bee-node/src/config.rs
  bee-node/src/entrynode/builder.rs
  bee-node/src/entrynode/config.rs
  bee-node/src/fullnode/builder.rs
  bee-node/src/fullnode/config.rs
  bee-node/src/main.rs
  bee-node/src/plugins/dashboard/config.rs
  bee-node/src/plugins/dashboard/mod.rs
  bee-protocol/src/types/milestone_key_range.rs
  bee-protocol/src/workers/config.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-storage/bee-storage-sled/src/config.rs
  bee-tangle/src/config.rs
  documentation/docs/setup_a_node.mdx
Labels: wg-node, c-feature, e-medium, p-high, n-all

#1119 Use packable `v0.2.0`
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-ledger/src/types/output_diff.rs
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-message/src/output/alias.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/parent.rs
  bee-message/src/payload/cpt2/indexation/mod.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/tagged_data/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/unlock_block/mod.rs
  bee-node/Cargo.toml
  bee-protocol/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-tangle/Cargo.toml
Labels: c-cleanup, e-low, p-low, wg-common, n-shimmer

#1126 Make serde a mandatory dependency of the protocol
  bee-protocol/Cargo.toml
  bee-protocol/src/types/milestone_key_range.rs
Labels: c-bug, e-low, p-critical, wg-protocol, n-all

#1125 Add inputs_commitment to TransactionEssence
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/payload/transaction/essence/regular.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1120 Use packable `v0.2.0` (coordicide branch)
  Cargo.lock
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-message/src/output/signature_locked_asset.rs
  bee-message/src/payload/data.rs
  bee-message/src/payload/drng/dkg.rs
  bee-message/src/payload/fpc/mod.rs
  bee-message/src/payload/indexation/mod.rs
  bee-message/src/payload/salt_declaration.rs
  bee-message/src/payload/transaction/essence.rs
  bee-message/src/unlock/unlock_blocks.rs
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-test/Cargo.toml
Labels: c-cleanup, e-low, p-low, wg-common, n-coordicide

#1108 Add IPv6 support to `bee-autopeering`
  Cargo.lock
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/examples/node.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/init.rs
  bee-network/bee-autopeering/src/lib.rs
  bee-network/bee-autopeering/src/peer/stores/mod.rs
  bee-network/bee-autopeering/src/request.rs
  bee-network/bee-autopeering/src/server.rs
  bee-network/bee-autopeering/src/task.rs
  bee-node/Cargo.toml
  bee-node/config.chrysalis-comnet.toml
  bee-node/config.chrysalis-devnet.toml
  bee-node/config.chrysalis-mainnet.toml
  bee-node/src/entrynode/builder.rs
  bee-node/src/fullnode/builder.rs
  bee-protocol/Cargo.toml
Labels: wg-network, c-feature, e-medium, p-high, n-mainnet

#1130 Change gossip config name
  bee-node/src/config.rs
  bee-node/src/fullnode/builder.rs
  bee-node/src/fullnode/config.rs
Labels: wg-node, c-bug, e-low, p-high, n-all

#1128 Add immutable feature blocks
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/feature_block/issuer.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1131 bee-node-0.3.0-rc4
  Cargo.lock
  bee-node/Cargo.toml
Labels: c-feature, e-low, p-high, wg-infra, n-all

#1136 update `packable` version to `0.2.1`
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-node/Cargo.toml
  bee-protocol/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-tangle/Cargo.toml
Labels: c-enhancement, e-low, p-low, wg-infra, n-shimmer

#1135 Created output event
  bee-ledger/CHANGELOG.md
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/event.rs
Labels: wg-ledger, c-enhancement, e-low, p-medium, n-shimmer

#1134 Outputs return containers instead of slices
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-enhancement, e-low, p-low, n-shimmer

#1132 Fix ImmutableAliasAddressUnlockCondition
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/output/unlock_condition/immutable_alias_address.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1133 Fix id() method of FoundryOutput
  bee-message/src/output/foundry.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1140 Add methods to Output
  bee-message/src/output/mod.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1129 Bump network_id
  bee-node/config.stardust-testnet.toml
Labels: c-enhancement, e-low, p-low, wg-infra, n-shimmer

#1137 update `packable` version to `0.2.1` (coordicide branch)
  Cargo.lock
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-test/Cargo.toml
Labels: c-enhancement, e-low, p-low, wg-infra, n-coordicide

#1145 Merge dev branch
  .gitignore
  Cargo.lock
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-ledger/src/workers/pruning/config.rs
  bee-ledger/src/workers/snapshot/config.rs
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-autopeering/examples/node.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-autopeering/src/discovery/manager.rs
  bee-network/bee-autopeering/src/init.rs
  bee-network/bee-autopeering/src/lib.rs
  bee-network/bee-autopeering/src/peer/stores/mod.rs
  bee-network/bee-autopeering/src/request.rs
  bee-network/bee-autopeering/src/server.rs
  bee-network/bee-autopeering/src/task.rs
  bee-network/bee-gossip/src/config.rs
  bee-node/Cargo.toml
  bee-node/README.md
  bee-node/config.stardust-testnet.toml
  bee-node/src/config.rs
  bee-node/src/entrynode/builder.rs
  bee-node/src/entrynode/config.rs
  bee-node/src/fullnode/builder.rs
  bee-node/src/fullnode/config.rs
  bee-node/src/main.rs
  bee-node/src/plugins/dashboard/config.rs
  bee-node/src/plugins/dashboard/mod.rs
  bee-protocol/Cargo.toml
  bee-protocol/src/types/milestone_key_range.rs
  bee-protocol/src/workers/config.rs
  bee-storage/bee-storage-memory/Cargo.toml
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-storage/bee-storage-sled/src/config.rs
  bee-tangle/src/config.rs
  documentation/docs/setup_a_node.mdx
Labels: c-feature, e-low, p-high, wg-infra, n-shimmer

#1147 Build dashboard into Docker image
  .github/workflows/release.yml
Labels: c-bug, e-low, p-medium, wg-infra, n-all

#1149 Add stardust JSON config file
  bee-node/config.stardust-testnet.json
  bee-node/src/config.rs
Labels: c-feature, e-low, p-medium, wg-infra, n-shimmer

#1148 Lower network log level
  bee-network/bee-gossip/src/network/host.rs
  bee-network/bee-gossip/src/service/host.rs
Labels: wg-network, c-cleanup, e-low, p-medium, n-all

#1123 Docs - Minor edits Applying Style Guide and Diataxis
  documentation/docs/configuration.md
  documentation/docs/crate_overview.md
  documentation/docs/getting_started/getting_started.md
  documentation/docs/getting_started/nodes_101.md
  documentation/docs/getting_started/security_101.md
  documentation/docs/setup_a_node.mdx
Labels: c-documentation, e-low, p-low, wg-infra, n-all

#1152 Remove unused output prefix from snapshot parsing
  bee-ledger/src/workers/snapshot/import.rs
Labels: wg-ledger, c-bug, e-low, p-high, n-shimmer

#1156 Bump protocol version
  bee-protocol/src/lib.rs
Labels: c-bug, e-low, p-high, wg-protocol, n-shimmer

#1139 Avoid unbounded `RwLock` guards in `PeerManager`
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/peer.rs
  bee-protocol/src/workers/message/hasher.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/peer/manager.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/sender.rs
Labels: c-enhancement, e-low, p-low, wg-protocol, n-all

#1159 Remove `TryFromStr` and `FromStr` from `Address`
  bee-message/CHANGELOG.md
  bee-message/src/address/mod.rs
  bee-message/tests/ed25519_address.rs
Labels: wg-api, c-cleanup, e-low, p-low, n-shimmer

#1157 Rename inner address field of address objects
  bee-api/bee-rest-api/src/types/dtos.rs
Labels: wg-api, c-bug, e-medium, p-medium, n-shimmer

#1146 Bump API version from `v1` to `v2`
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message_children.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message_metadata.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/message_raw.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/milestone.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/milestone_utxo_changes.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/mod.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/output.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/peers.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/receipts.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/receipts_at.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/remove_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/submit_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/tips.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/transaction_included_message.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/treasury.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-node/config.stardust-testnet.toml
  bee-node/src/plugins/dashboard/routes.rs
Labels: wg-api, c-cleanup, e-low, p-medium, n-shimmer

#1154 Rename DustDeposit to StorageDeposit
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-message/src/constant.rs
  bee-message/src/error.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/cpt2/signature_locked_dust_allowance.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/storage_deposit_return.rs
  bee-message/src/payload/receipt/migrated_funds_entry.rs
  bee-message/tests/migrated_funds_entry.rs
  bee-message/tests/signature_locked_dust_allowance_output.rs
  bee-message/tests/signature_locked_output.rs
  bee-message/tests/signature_locked_single_output.rs
Labels: wg-message, c-cleanup, e-low, p-low, n-shimmer

#1165 Add missing alloc::vec::Vec imports
  bee-message/fuzz/Cargo.lock
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/token_id.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/payload/tagged_data/mod.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1167 Fix API response addressType
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/balance_ed25519.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_ed25519.rs
Labels: wg-api, c-bug, e-low, p-critical, n-all

#1095 Implement byte cost and `minimum_storage_deposit` for `Output`s
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-message/Cargo.toml
  bee-message/src/output/byte_cost.rs
  bee-message/src/output/mod.rs
  bee-message/tests/byte_cost.rs
  bee-node/config.stardust-testnet.json
  bee-node/config.stardust-testnet.toml
  bee-protocol/src/workers/config.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1164 Test equality of JSON and TOML config files
  Cargo.lock
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-ledger/src/workers/pruning/config.rs
  bee-ledger/src/workers/snapshot/config.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-gossip/src/config.rs
  bee-node/Cargo.toml
  bee-node/config.chrysalis-comnet.json
  bee-node/config.chrysalis-devnet.json
  bee-node/config.chrysalis-mainnet.json
  bee-node/src/config.rs
  bee-node/src/plugins/dashboard/config.rs
  bee-node/src/plugins/mqtt/config.rs
  bee-protocol/src/workers/config.rs
  bee-storage/bee-storage-rocksdb/src/compaction.rs
  bee-storage/bee-storage-rocksdb/src/compression.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-tangle/src/config.rs
Labels: wg-node, c-test, e-medium, p-medium, n-all

#1166 Emit better warning when parsing snapshot header fails
  bee-ledger/CHANGELOG.md
  bee-ledger/src/workers/snapshot/download.rs
  bee-ledger/src/workers/snapshot/error.rs
Labels: wg-ledger, c-bug, e-low, p-medium, n-all

#1173 Use maximum to find furthest neighbor
  bee-network/bee-autopeering/src/peering/neighbor.rs
Labels: wg-network, c-cleanup, e-low, p-high, n-all

#1175 Strip symbols from production binary (rust >= 1.59)
  Cargo.toml
Labels: c-cleanup, e-medium, p-medium, wg-infra, n-all

#1172 Update workflow branches
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/test-docs-build.yml
  bee-node/README.md
  documentation/docs/setup_a_node.mdx
Labels: c-cleanup, e-low, p-high, wg-infra, n-all

#1160 Make Rust `beta` and `nightly` experimental
  .github/pull_request_template.md
  .github/workflows/ci.yml
Labels: c-test, e-low, p-medium, wg-infra, n-all

#1177 Temporarily fix CI by downgrading to `windows-2019`
  .github/workflows/ci.yml
  .github/workflows/test-docs-build.yml
Labels: c-bug, e-high, p-critical, wg-infra, n-all

#1183 Merge mainnet-develop
  .github/pull_request_template.md
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/test-docs-build.yml
  Cargo.lock
  Cargo.toml
  bee-api/bee-rest-api/src/endpoints/config.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/add_peer.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/peer.rs
  bee-ledger/CHANGELOG.md
  bee-ledger/src/workers/pruning/config.rs
  bee-ledger/src/workers/snapshot/config.rs
  bee-ledger/src/workers/snapshot/download.rs
  bee-ledger/src/workers/snapshot/error.rs
  bee-message/src/output/byte_cost.rs
  bee-network/bee-autopeering/src/config.rs
  bee-network/bee-autopeering/src/peering/neighbor.rs
  bee-network/bee-gossip/src/config.rs
  bee-network/bee-gossip/src/network/host.rs
  bee-network/bee-gossip/src/service/host.rs
  bee-node/Cargo.toml
  bee-node/README.md
  bee-node/config.stardust-testnet.json
  bee-node/docker/Dockerfile
  bee-node/src/config.rs
  bee-node/src/plugins/dashboard/config.rs
  bee-node/src/plugins/mqtt/config.rs
  bee-protocol/src/workers/config.rs
  bee-protocol/src/workers/message/hasher.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/peer/manager.rs
  bee-protocol/src/workers/peer/manager_res.rs
  bee-protocol/src/workers/sender.rs
  bee-storage/bee-storage-rocksdb/src/compaction.rs
  bee-storage/bee-storage-rocksdb/src/compression.rs
  bee-storage/bee-storage-rocksdb/src/config.rs
  bee-tangle/src/config.rs
  documentation/docs/configuration.md
  documentation/docs/crate_overview.md
  documentation/docs/getting_started/getting_started.md
  documentation/docs/getting_started/nodes_101.md
  documentation/docs/getting_started/security_101.md
  documentation/docs/setup_a_node.mdx
Labels: c-enhancement, e-low, p-high, wg-infra, n-shimmer
