Repository iotaledger/bee, pull requests merged in 2022-04, with the labels that each got.

#1316 Fix link to `Dockerfile`
  .github/workflows/release.yml
Labels: c-bug, e-low, p-high, wg-infra, n-shimmer

#1317 Fix AliasOutput state transition
  bee-message/src/output/alias.rs
  bee-message/src/output/chain_id.rs
Labels: wg-ledger, c-bug, e-high, p-critical, n-shimmer

#1319 Fix FoundryId
  bee-message/src/output/foundry_id.rs
  bee-message/tests/foundry_id.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1318 Upload Docker image also to `ghcr.io`
  .github/workflows/release.yml
Labels: c-feature, e-medium, p-high, wg-infra, n-shimmer

#1320 bee-node-1.0.0-alpha.2
  Cargo.lock
  bee-node/bee-node/Cargo.toml
Labels: c-feature, e-low, p-high, wg-infra, n-shimmer

#1321 Move semantic validation to bee-message
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/state_transition.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/payload/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/semantic.rs
Labels: wg-message, c-cleanup, e-high, p-high, n-shimmer

#1322 Fix milestone timestamp in API
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/milestone.rs
  bee-network/bee-gossip/src/swarm/protocols/iota_gossip/handler.rs
Labels: wg-api, c-bug, e-low, p-critical, n-all

#1323 bee-node-0.3.1
  Cargo.lock
  bee-node/Cargo.toml
Labels: e-low, p-high, wg-infra, n-all, c-release

#1324 Easier output creation with byte cost as amount
  bee-ledger/src/workers/consensus/worker.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/nft.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-enhancement, e-medium, p-medium, n-shimmer

#1329 Simplify SDRUC syntactic validation rules
  bee-message/src/error.rs
  bee-message/src/output/mod.rs
Labels: wg-message, c-enhancement, e-medium, p-high, n-shimmer

#1328 Add milestone metadata
  bee-message/src/error.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/tests/milestone_payload.rs
  bee-message/tests/milestone_payload_essence.rs
  bee-message/tests/payload.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1330 Actually sum native tokens
  bee-ledger/src/types/unspent.rs
  bee-message/src/semantic.rs
Labels: wg-message, c-bug, e-low, p-critical, n-shimmer

#1331 Re-add native tokens balance check
  bee-message/src/output/alias.rs
  bee-message/src/semantic.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1334 Fix state transition comments
  bee-message/src/semantic.rs
Labels: wg-message, c-cleanup, e-low, p-low, n-shimmer

#1335 Split native tokens error variant in two
  bee-message/src/output/foundry.rs
  bee-message/src/output/state_transition.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1336 Add non unique token id for foundry check
  bee-message/src/semantic.rs
Labels: wg-message, c-feature, e-medium, p-high, n-shimmer

#1337 bee-node-1.0.0-alpha.3
  Cargo.lock
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/config.alphanet.json
  bee-node/bee-node/config.alphanet.toml
Labels: e-low, p-high, wg-infra, n-shimmer, c-release

#1338 Reorganise foundry arithmetic operations to avoid overflows/underflows
  bee-message/src/output/foundry.rs
Labels: wg-message, c-cleanup, e-medium, p-high, n-shimmer

#1340 Create builders from outputs
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1341 Bump version number of `bee-ternary`
  Cargo.lock
  bee-ternary/CHANGELOG.md
  bee-ternary/Cargo.toml
Labels: c-cleanup, e-low, p-medium, wg-ternary, n-shimmer

#1342 Add replace methods to Output builders
  bee-message/src/error.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1346 Update `packable` dependency to `0.3.0`
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-ledger/src/types/snapshot/header.rs
  bee-ledger/src/types/snapshot/milestone_diff.rs
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-message/src/message.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/token_scheme/simple.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/receipt/tail_transaction_hash.rs
  bee-message/src/semantic.rs
  bee-node/bee-node/Cargo.toml
  bee-protocol/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-storage/bee-storage/src/system/health.rs
  bee-tangle/Cargo.toml
Labels: wg-message, c-enhancement, e-low, p-low, n-shimmer

#1344 Remove CI runs on `beta` channels
  .github/workflows/ci.yml
Labels: c-test, e-low, p-medium, wg-infra, n-shimmer

#1348 Fix semantic validation
  bee-message/src/output/foundry.rs
  bee-message/src/semantic.rs
Labels: wg-message, c-bug, p-high, n-shimmer

#1345 Return number of truncated results in `MessageChildrenResponse`, `Mes…
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/message_children.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/messages_find.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v1/outputs_ed25519.rs
Labels: wg-api, c-bug, e-medium, p-high, n-mainnet

#1347 Milestone changes (TIP-29)
  .gitignore
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-api/bee-rest-api/src/endpoints/routes/health.rs
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-ledger/src/types/receipt.rs
  bee-ledger/src/types/snapshot/header.rs
  bee-ledger/src/types/snapshot/info.rs
  bee-ledger/src/types/snapshot/milestone_diff.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/error.rs
  bee-ledger/src/workers/event.rs
  bee-ledger/src/workers/pruning/prune.rs
  bee-ledger/src/workers/snapshot/import.rs
  bee-message/src/error.rs
  bee-message/src/milestone/mod.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/milestone/option/mod.rs
  bee-message/src/payload/milestone/option/pow.rs
  bee-message/src/payload/milestone/option/receipt/migrated_funds_entry.rs
  bee-message/src/payload/milestone/option/receipt/mod.rs
  bee-message/src/payload/milestone/option/receipt/tail_transaction_hash.rs
  bee-message/src/payload/mod.rs
  bee-message/src/semantic.rs
  bee-message/tests/migrated_funds_entry.rs
  bee-message/tests/milestone.rs
  bee-message/tests/milestone_payload.rs
  bee-message/tests/milestone_payload_essence.rs
  bee-message/tests/payload.rs
  bee-message/tests/receipt_milestone_option.rs
  bee-message/tests/tail_transaction_hash.rs
  bee-node/bee-plugin/bee-plugin-dashboard/src/workers/confirmed_ms_metrics.rs
  bee-tangle/benches/tangle_bench.rs
  bee-tangle/src/metadata.rs
  bee-test/src/rand/milestone.rs
  bee-test/src/rand/milestone_option.rs
  bee-test/src/rand/mod.rs
  bee-test/src/rand/payload.rs
  bee-test/src/rand/receipt.rs
Labels: wg-message, c-enhancement, e-medium, p-high, n-shimmer

#1351 Add NativeTokensBuilder
  bee-message/src/error.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/native_token.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1353 Add more NativeTokensBuilder helpers
  bee-message/src/output/native_token.rs
Labels: wg-message, c-enhancement, e-low, p-high, n-shimmer

#1355 Add convenience `finish_output` method
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-feature, e-low, p-low, n-shimmer

#1356 Add NativeTokensBuilder::{Deref, DerefMut}
  bee-message/Cargo.toml
  bee-message/src/output/native_token.rs
Labels: wg-message, c-feature, e-low, p-high, n-shimmer

#1365 lastMilestoneId -> previousMilestoneId
  bee-message/src/payload/milestone/mod.rs
Labels: wg-message, c-bug, e-low, p-high, n-shimmer

#1361 Move PoW validation from hasher to processor
  bee-protocol/src/workers/message/hasher.rs
  bee-protocol/src/workers/message/processor.rs
  bee-protocol/src/workers/mod.rs
Labels: c-enhancement, e-low, p-medium, wg-protocol, n-shimmer

#1359 Bump storage versions
  bee-storage/bee-storage-rocksdb/src/storage.rs
  bee-storage/bee-storage-sled/src/storage.rs
Labels: wg-message, c-enhancement, e-low, p-low, n-shimmer

#1368 Bump network_id to alphanet-3
  bee-node/bee-node/config.alphanet.json
  bee-node/bee-node/config.alphanet.toml
Labels: e-low, p-high, wg-infra, n-shimmer, c-release

#1369 Update `ProtocolResponse`
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-api/bee-rest-api/src/types/responses.rs
Labels: wg-api, c-enhancement, e-low, p-high, n-shimmer

#1370 Rename IOTA_SUPPLY to TOKEN_SUPPLY
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-ledger/src/types/receipt.rs
  bee-ledger/src/workers/consensus/state.rs
  bee-message/src/constant.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/treasury.rs
  bee-message/src/output/unlock_condition/storage_deposit_return.rs
  bee-message/src/payload/milestone/option/receipt/migrated_funds_entry.rs
  bee-message/src/payload/milestone/option/receipt/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/tests/migrated_funds_entry.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-message/tests/treasury_output.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1372 Bump network_id to alphanet-4
  bee-node/bee-node/config.alphanet.json
  bee-node/bee-node/config.alphanet.toml
Labels: e-low, p-high, wg-infra, n-shimmer, c-release

#1375 Add `latestMilestone`, `confirmedMilestone`, and `baseToken` informations to InfoResponse
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-api/bee-rest-api/src/types/responses.rs
Labels: wg-api, n-shimmer

#1373 Avoid previous milestone check for first milestone
  bee-ledger/src/workers/consensus/white_flag.rs
Labels: wg-ledger, c-bug, e-low, p-high, n-shimmer

#1374 Check that milestone message PoW is 0
  bee-protocol/src/workers/message/processor.rs
Labels: c-feature, e-medium, p-high, wg-protocol, n-shimmer

#1376 Milestone mappings storage
  bee-node/bee-node/src/tools/rocksdb.rs
  bee-node/bee-node/src/tools/sled.rs
  bee-storage/bee-storage-memory/src/access/batch.rs
  bee-storage/bee-storage-memory/src/access/delete.rs
  bee-storage/bee-storage-memory/src/access/exist.rs
  bee-storage/bee-storage-memory/src/access/fetch.rs
  bee-storage/bee-storage-memory/src/access/insert.rs
  bee-storage/bee-storage-memory/src/access/iter.rs
  bee-storage/bee-storage-memory/src/access/multi_fetch.rs
  bee-storage/bee-storage-memory/src/access/truncate.rs
  bee-storage/bee-storage-memory/src/storage.rs
  bee-storage/bee-storage-memory/tests/milestone_id_to_milestone_payload.rs
  bee-storage/bee-storage-memory/tests/milestone_index_to_milestone_metadata.rs
  bee-storage/bee-storage-rocksdb/src/access/batch.rs
  bee-storage/bee-storage-rocksdb/src/access/delete.rs
  bee-storage/bee-storage-rocksdb/src/access/exist.rs
  bee-storage/bee-storage-rocksdb/src/access/fetch.rs
  bee-storage/bee-storage-rocksdb/src/access/insert.rs
  bee-storage/bee-storage-rocksdb/src/access/iter.rs
  bee-storage/bee-storage-rocksdb/src/access/multi_fetch.rs
  bee-storage/bee-storage-rocksdb/src/access/truncate.rs
  bee-storage/bee-storage-rocksdb/src/column_families.rs
  bee-storage/bee-storage-rocksdb/src/storage.rs
  bee-storage/bee-storage-rocksdb/tests/milestone_id_to_milestone_payload.rs
  bee-storage/bee-storage-rocksdb/tests/milestone_index_to_milestone_metadata.rs
  bee-storage/bee-storage-sled/src/access/batch.rs
  bee-storage/bee-storage-sled/src/access/delete.rs
  bee-storage/bee-storage-sled/src/access/exist.rs
  bee-storage/bee-storage-sled/src/access/fetch.rs
  bee-storage/bee-storage-sled/src/access/insert.rs
  bee-storage/bee-storage-sled/src/access/iter.rs
  bee-storage/bee-storage-sled/src/access/multi_fetch.rs
  bee-storage/bee-storage-sled/src/access/truncate.rs
  bee-storage/bee-storage-sled/src/trees.rs
  bee-storage/bee-storage-sled/tests/milestone_id_to_milestone_payload.rs
  bee-storage/bee-storage-sled/tests/milestone_index_to_milestone_metadata.rs
  bee-storage/bee-storage-test/src/lib.rs
  bee-storage/bee-storage-test/src/milestone_id_to_milestone_payload.rs
  bee-storage/bee-storage-test/src/milestone_index_to_milestone_metadata.rs
  bee-test/src/rand/payload.rs
Labels: wg-storage, c-feature, e-high, p-high, n-shimmer

#1378 Make use of the milestone mappings
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/info.rs
  bee-api/bee-rest-api/src/endpoints/routes/api/v2/milestone.rs
  bee-api/bee-rest-api/src/endpoints/routes/health.rs
  bee-message/src/payload/milestone/milestone_id.rs
  bee-protocol/src/workers/message/payload/milestone.rs
  bee-protocol/src/workers/requester/milestone.rs
  bee-protocol/src/workers/solidifier.rs
  bee-tangle/src/milestone_metadata.rs
  bee-tangle/src/storage.rs
  bee-tangle/src/tangle.rs
  bee-tangle/tests/milestone.rs
  bee-test/src/rand/milestone.rs
Labels: c-feature, e-medium, p-high, wg-tangle, n-shimmer

#1382 Update lengths of ids
  bee-message/src/address/alias.rs
  bee-message/src/address/nft.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/output_id.rs
  bee-message/src/output/token_id.rs
  bee-message/tests/foundry_id.rs
Labels: wg-message, c-enhancement, e-low, p-high, n-shimmer

#1383 Bump network id to alphanet-5
  bee-node/bee-node/config.alphanet.json
  bee-node/bee-node/config.alphanet.toml
Labels: e-low, p-high, wg-infra, n-shimmer, c-release

#1381 bee-node-1.0.0-alpha.4
  Cargo.lock
  bee-node/bee-node/Cargo.toml
Labels: e-low, p-high, wg-infra, n-shimmer, c-release
