Repository iotaledger/bee, pull requests merged in 2022-05, with the labels that each got.

#1385 Implement `null` for all IDs
  bee-message/src/macro.rs
  bee-message/src/message_id.rs
  bee-message/src/payload/milestone/milestone_id.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1386 Fix omitempty cases and update milestone dto
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
  bee-message/src/payload/milestone/mod.rs
Labels: wg-message, c-enhancement, e-medium, p-high, n-shimmer

#1387 Rename merkle proofs to merkle roots
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/error.rs
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/tests/milestone_payload.rs
  bee-message/tests/milestone_payload_essence.rs
  bee-message/tests/payload.rs
Labels: wg-message, c-cleanup, e-low, p-low, n-shimmer

#1388 Clean ConflictReason
  bee-message/src/address/mod.rs
  bee-message/src/semantic.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1389 Add InputsCommitment type
  bee-message/src/output/inputs_commitment.rs
  bee-message/src/output/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/semantic.rs
  bee-message/tests/payload.rs
  bee-message/tests/transaction_essence.rs
  bee-message/tests/transaction_payload.rs
  bee-message/tests/transaction_regular_essence.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-enhancement, e-medium, p-medium, n-shimmer

#1390 Timestamp as u32 in responses
  bee-api/bee-rest-api/src/types/responses.rs
  bee-message/src/output/state_transition.rs
Labels: wg-message, c-cleanup, e-low, p-medium, n-shimmer

#1391 Bump iota-crypto and packable
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-message/fuzz/Cargo.toml
  bee-network/bee-autopeering/Cargo.toml
  bee-node/bee-node/Cargo.toml
  bee-pow/Cargo.toml
  bee-protocol/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage-test/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-tangle/Cargo.toml
Labels: c-cleanup, e-low, p-high, wg-infra, n-shimmer

#1392 Add Eq and PartialEq to responses and dtos
  bee-api/bee-rest-api/src/types/dtos.rs
  bee-api/bee-rest-api/src/types/responses.rs
  bee-message/src/address/alias.rs
  bee-message/src/address/ed25519.rs
  bee-message/src/address/mod.rs
  bee-message/src/address/nft.rs
  bee-message/src/input/mod.rs
  bee-message/src/input/treasury.rs
  bee-message/src/input/utxo.rs
  bee-message/src/message.rs
  bee-message/src/output/alias.rs
  bee-message/src/output/alias_id.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/feature_block/issuer.rs
  bee-message/src/output/feature_block/metadata.rs
  bee-message/src/output/feature_block/mod.rs
  bee-message/src/output/feature_block/sender.rs
  bee-message/src/output/feature_block/tag.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/native_token.rs
  bee-message/src/output/nft.rs
  bee-message/src/output/nft_id.rs
  bee-message/src/output/token_id.rs
  bee-message/src/output/token_scheme/mod.rs
  bee-message/src/output/token_scheme/simple.rs
  bee-message/src/output/treasury.rs
  bee-message/src/output/unlock_condition/address.rs
  bee-message/src/output/unlock_condition/expiration.rs
  bee-message/src/output/unlock_condition/governor_address.rs
  bee-message/src/output/unlock_condition/immutable_alias_address.rs
  bee-message/src/output/unlock_condition/mod.rs
  bee-message/src/output/unlock_condition/state_controller_address.rs
  bee-message/src/output/unlock_condition/storage_deposit_return.rs
  bee-message/src/output/unlock_condition/timelock.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/milestone/option/mod.rs
  bee-message/src/payload/milestone/option/pow.rs
  bee-message/src/payload/milestone/option/receipt/migrated_funds_entry.rs
  bee-message/src/payload/milestone/option/receipt/mod.rs
  bee-message/src/payload/mod.rs
  bee-message/src/payload/tagged_data/mod.rs
  bee-message/src/payload/transaction/essence/mod.rs
  bee-message/src/payload/transaction/essence/regular.rs
  bee-message/src/payload/transaction/mod.rs
  bee-message/src/payload/treasury_transaction/mod.rs
  bee-message/src/signature/ed25519.rs
  bee-message/src/signature/mod.rs
  bee-message/src/unlock_block/alias.rs
  bee-message/src/unlock_block/mod.rs
  bee-message/src/unlock_block/nft.rs
  bee-message/src/unlock_block/reference.rs
  bee-message/src/unlock_block/signature.rs
Labels: wg-api, c-cleanup, e-low, p-low, n-shimmer

#1393 Fix Message::LENGTH_MIN
  bee-message/src/message.rs
Labels: wg-message, c-bug, e-low, p-critical, n-shimmer

#1397 Update iota-crypto dependency
  Cargo.lock
  bee-api/bee-rest-api/CHANGELOG.md
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/CHANGELOG.md
  bee-ledger/Cargo.toml
  bee-message/CHANGELOG.md
  bee-message/Cargo.toml
  bee-network/bee-autopeering/CHANGELOG.md
  bee-network/bee-autopeering/Cargo.toml
  bee-node/bee-node/Cargo.toml
  bee-pow/CHANGELOG.md
  bee-pow/Cargo.toml
Labels: c-cleanup, e-low, p-high, wg-infra, n-shimmer

#1402 Bump dependencies
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-ledger/Cargo.toml
  bee-message/Cargo.toml
  bee-network/bee-autopeering/Cargo.toml
  bee-network/bee-gossip/Cargo.toml
  bee-node/bee-node/Cargo.toml
  bee-node/bee-node/src/tools/password.rs
  bee-node/bee-plugin/bee-plugin-dashboard/Cargo.toml
  bee-node/bee-plugin/bee-plugin-mps/Cargo.toml
  bee-node/bee-plugin/bee-plugin-version-checker/Cargo.toml
  bee-node/bee-plugin/bee-plugin/Cargo.toml
  bee-pow/Cargo.toml
  bee-protocol/Cargo.toml
  bee-runtime/Cargo.toml
  bee-storage/bee-storage-memory/Cargo.toml
  bee-storage/bee-storage-rocksdb/Cargo.toml
  bee-storage/bee-storage-sled/Cargo.toml
  bee-storage/bee-storage/Cargo.toml
  bee-tangle/Cargo.toml
  bee-ternary/Cargo.toml
  bee-test/Cargo.toml
Labels: c-cleanup, e-low, p-low, wg-infra, n-shimmer

#1404 Sort and dedup message IDs in Parents::new
  bee-message/src/parent.rs
  bee-message/tests/parents.rs
Labels: wg-message, c-enhancement, e-low, p-high, n-shimmer

#1408 Add missing builder setters
  bee-message/src/output/alias.rs
  bee-message/src/output/basic.rs
  bee-message/src/output/foundry.rs
  bee-message/src/output/nft.rs
Labels: wg-message, c-feature, e-low, p-high, n-shimmer

#1395 Remove TokenTag
  bee-message/src/output/foundry.rs
  bee-message/src/output/foundry_id.rs
  bee-message/src/output/mod.rs
  bee-message/src/output/token_id.rs
  bee-message/src/semantic.rs
  bee-test/src/rand/output.rs
Labels: wg-message, c-cleanup, e-medium, p-high, n-shimmer

#1399 Add protocol version to milestone essence
  bee-message/src/payload/milestone/essence.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/tests/milestone_payload.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1406 Merklize inputs commitment
  bee-message/src/output/inputs_commitment.rs
Labels: wg-message, c-enhancement, e-medium, p-low, n-shimmer

#1400 Add ParametersMilestoneOption
  bee-message/src/error.rs
  bee-message/src/macro.rs
  bee-message/src/output/foundry.rs
  bee-message/src/payload/milestone/mod.rs
  bee-message/src/payload/milestone/option/mod.rs
  bee-message/src/payload/milestone/option/parameters.rs
  bee-message/src/payload/milestone/option/pow.rs
  bee-message/tests/milestone_payload_essence.rs
Labels: wg-message, c-feature, e-medium, p-medium, n-shimmer

#1415 Custom impl fmt::Debug for Ed25519Signature
  Cargo.lock
  bee-block/src/signature/ed25519.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1419 Add a new MerkleRoot type for better display
  Cargo.lock
  bee-api/bee-rest-api/Cargo.toml
  bee-api/bee-rest-api/src/endpoints/routes/api/plugins/debug/white_flag.rs
  bee-block/src/payload/milestone/essence.rs
  bee-block/src/payload/milestone/merkle.rs
  bee-block/src/payload/milestone/mod.rs
  bee-block/tests/milestone_payload.rs
  bee-block/tests/milestone_payload_essence.rs
  bee-block/tests/payload.rs
  bee-ledger/src/workers/consensus/metadata.rs
  bee-ledger/src/workers/consensus/white_flag.rs
  bee-ledger/src/workers/consensus/worker.rs
  bee-ledger/src/workers/error.rs
  bee-test/src/rand/milestone.rs
  bee-test/src/rand/payload.rs
Labels: wg-message, c-feature, e-low, p-medium, n-shimmer

#1421 Make dtos pub reachable
  bee-block/src/output/mod.rs
  bee-block/src/payload/milestone/mod.rs
Labels: n-shimmer, wg-block
